services:
  - type: web
    name: universal-downloader-backend
    env: docker
    plan: free
    region: oregon
    branch: main
    rootDir: backend
    envVars:
      - key: PORT
        value: 10000
